* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 30px 10%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.Logo {
    cursor: pointer;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

/* Sale ad section */
.Sale-ad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 75vh;
    background: url(https://img.freepik.com/free-photo/set-bright-lipsticks_23-2147779008.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* Lip Products section */
.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.product-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
}
